### [Pandas datareader](https://pandas-datareader.readthedocs.io/en/latest/remote_data.html)

- We can extract data from internet sources into a dataframe.
- To list some sources
    - World Bank
    - OECD
    - Eurostat
    - Quandl
    - St.Louis FED (FRED)
    - Naver Finance (!)
    
- data.DataReader("symbol", "source", "start", "end")

(Example 1) Navor Finance

In [1]:
# pandas_datareader는 pandas의 설치여부와 상관없이 따로 설치해야함
import pandas_datareader.data as web

df = web.DataReader('005930', 'naver', start='1991-04-01', end='2020-09-01')
for col in df.columns : 
    df[col] = df[col].apply(int) #function input으로 받는 함수
df.head()

            Open  High  Low  Close  Volume
Date
1991-04-01   324   328  322    323    3560
1991-04-02   324   324  319    320    6890
1991-04-03   320   327  320    323    3600
1991-04-04   322   325  321    326    6270
1991-04-06   323   325  323    326    3870

In [2]:
# pandas_datareader는 pandas의 설치여부와 상관없이 따로 설치해야함
import pandas_datareader.data as web

df = web.DataReader('007460', 'naver', start='2019-04-01', end='2020-09-01')
for col in df.columns : 
    df[col] = df[col].apply(int)
df.head()

            Open  High   Low  Close    Volume
Date
2019-04-01  2725  2850  2710   2820   4557184
2019-04-02  2825  2875  2780   2790   3038538
2019-04-03  2810  2855  2775   2780   2309030
2019-04-04  2870  3610  2845   3610  59578697
2019-04-05  3640  4420  3550   3955  83374834

In [3]:
df.Close.plot()

In [4]:
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

data = yf.download("TSLA", start='2010-01-01')
data.head()

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500